@import 'mixins'
@import 'custom-properties'

html, body, #app
  height: 100%

* 
  box-sizing: border-box

body 
  font-family: v(font-text)
  padding: 0
  margin: 0
  letter-spacing: -0.04em

section 
  padding: 2.7em
  position: relative

.text-center
  text-align: center

.text-emphasis
  font-size: v(font-large)
  font-weight: 800
  line-height: 1
  letter-spacing: -0.07em

.lowercase 
  text-transform: lowercase

.site-header
  color: v(color-emphasis)
  background-color: var(--color-secondary)
  padding: 1px
  height: 50px
  position: sticky
  top: 0
  z-index: 3

.color-accent
  color: v(color-accent)

.logo 
  margin: 0
  padding: 5px 20px
  position: absolute
  z-index: 2
  img 
    width: 31px

.goal-bar 
  margin-top: 0
  position: relative
  &__progress 
    background-color: v(color-primary)
    height: 50px
    font-size: 14px
    margin-top: -1px
    position: relative
    width: var(--progressPercent)
    max-width: 1px
    +animator('prog', (delay: .5s, duration: 4s))
      0%
        max-width: 1px
      100%
        max-width: 100vw

  &__progress-item
    position: absolute
    top: 100%
    margin: 0
    left: 100%
    white-space: nowrap
    line-height: 1
    opacity: 0
    +animator('fade-in', (delay: 1s, duration: .6s))
      0%
        opacity: 0
      100%
        opacity: 1

    &:nth-child(2)
      display: none

  &__goal 
    position: absolute
    top: 10px
    right: 10px
    text-align: right
    font-weight: bold
    font-size: 14px
    small
      font-size: 12px
  &__goal-item 
    margin: 0
    line-height: 1
    &:nth-child(2)
      display: none



.patients
  background-color: v(color-accent)
  color: v(color-primary)
  &__header 

.patients-grid
  margin-top: 1.5em
.patient 
  display: inline-block
  &--complete 
    fill: v(color-primary)
  &--pending 
    fill: v(color-accent-2)
  svg 
    width: 26px
    height: 40px
    display: inline-block


.btn 
  background-color: transparent
  border: none
  font-size: 1em
  padding: .8em 2em
  margin: 1em auto
  font-family: v(font-text)
  border-radius: 10px
  display: block
  +appearance(none)
  &--action 
    background-color: v(color-primary)
    color: v(color-emphasis)
    font-weight: bold
    font-size: 1.25rem
  &--hero 
    position: absolute
    bottom: -2.5em
    left: 50%
    white-space: nowrap
    transform: translateX(-50%)


@import 'hero'
