@import 'mixins'
@import 'custom-properties'

* 
  box-sizing: border-box

body 
  font-family: v(font-text)
  padding: 0
  margin: 0
  letter-spacing: -0.04em
  background-color: #311441

section 
  padding: 2.7em
  position: relative

.app 
  max-width: 1440px
  margin: auto
  background-color: #fff

.text-right
  text-align: right!important
  justiy-content: flex-end!important

.text-center
  text-align: center

.text-emphasis
  font-size: v(font-large)
  font-weight: 800
  line-height: 1
  letter-spacing: -0.07em
  &--medium
    font-weight: normal
    font-size: v(font-medium)

.no-margin
  margin: 0

.bold 
  font-weight: bold

.no-underline
  text-decoration: none

.lowercase 
  text-transform: lowercase
.capitalize 
  text-transform: lowercase
  &:first-letter
    text-transform: uppercase

.site-header
  color: v(color-emphasis)
  background-color: var(--color-secondary)
  padding: 1px
  height: 50px
  position: sticky
  top: 0
  z-index: 3

.color-accent
  color: v(color-accent)

.color-accent-2
  color: v(color-accent-2)

.color-primary
  color: v(color-primary)

.color-emphasis
  color: v(color-emphasis)

.social-link
  position: absolute
  top: 30px
  right: 20px
  font-size: .8em


.container 
  max-width: 968px
  margin: auto
  &--medium
    max-width: 600px


.logo 
  margin: 0
  padding: 5px 20px
  position: absolute
  z-index: 2
  img 
    width: 31px

.goal-bar 
  margin-top: 0
  position: relative
  height: calc(100% + 2px)
  &__progress 
    background-color: v(color-primary)
    height: 100%
    font-size: .9em
    margin-top: -1px
    position: relative
    width: var(--progressPercent)
    max-width: 1px
    +animator('prog', (delay: .5s, duration: 4s))
      0%
        max-width: 1px
      100%
        max-width: 100vw

  &__progress-item
    position: absolute
    top: 100%
    margin: 0
    left: 100%
    white-space: nowrap
    line-height: 1
    opacity: 0
    text-shadow: 0px 1px 10px v(color-primary), 0px 1px 5px v(color-primary), 0px 1px 5px v(color-primary)
    +animator('fade-in', (delay: 1s, duration: .6s))
      0%
        opacity: 0
      100%
        opacity: 1

    &:nth-child(2)
      display: none
    small 
      font-size: .7em

  &__goal 
    position: absolute
    top: 50%
    right: 10px
    text-align: right
    font-weight: bold
    font-size: .9em
    transform: translateY(-50%)
    small
      font-size: .9em
  &__goal-item 
    margin: 0
    line-height: 1
    &:nth-child(2)
      display: none


.patients
  background-color: v(color-accent)
  color: v(color-primary)
  &__header 

.patients-grid
  max-width: 400px
  margin: 1.5em auto 

.select 
  border: none
  outline: none
  font-family: v(font-text)
  font-size: v(font-medium)
  font-weight: bold
  color: v(color-primary)
  text-indent: 40px
  margin: 2em
  +appearance(none)



.patient 
  display: inline-block
  &--complete 
    position: relative
    fill: v(color-accent-2)
    // fill: v(color-primary)
    top: 0px
    $delay: calc(var(--patient-index) * .04s + .8s) 
    +animator(fade-color, (delay: $delay, duration: .5s))
      0%
        fill: v(color-accent-2)
        top: 0px
      50%
        top: -20px
      100%
        top: -0px
        fill: v(color-primary)
  &--pending 
    fill: v(color-accent-2)
  svg 
    width: 30px
    margin: 0 -2px
    height: 40px
    display: inline-block

.btn 
  background-color: transparent
  border: none
  font-size: 1em
  padding: .8em 2em
  margin: 1em auto
  font-family: v(font-text)
  border-radius: 10px
  display: block
  +appearance(none)
  &--action 
    background-color: v(color-primary)
    color: v(color-emphasis)
    font-weight: bold
    font-size: 1.25rem
  &--hero 
    position: absolute
    bottom: -1.5em
    left: 50%
    white-space: nowrap
    transform: translateX(-50%)
    z-index: 2

.crit-illustration 
  width: 100%
  max-width: 800px 
  margin: auto
  display: block
  fill: v(color-accent-2)

.yellow-topping 
  position: absolute
  bottom: -1px
  left: 0
  width: 100%

.bar-end
  position: absolute
  top: 0
  right: -8px
  height: 105%

@import 'hero'

@media screen and (min-width: 768px)
  .site-header
    height: 80px
  .logo 
    left: 20px
    img 
      width: 60px
  .bar-end 
    right: -8px
  .goal-bar
    font-size: 1.3em
    &__goal 
      right: 30px

