@import 'mixins'
@import 'custom-properties'

html, body, #app
  height: 100%

* 
  box-sizing: border-box

body 
  font-family: v(font-text)
  padding: 0
  margin: 0
  letter-spacing: -0.04em

section 
  padding: 2.7em
  position: relative

.text-center
  text-align: center

.text-emphasis
  font-size: v(font-large)
  font-weight: 800
  line-height: 1
  letter-spacing: -0.07em

.site-header
  color: v(color-emphasis)
  background-color: var(--color-secondary)
  padding: 1px
  height: 50px
  position: sticky
  top: 0
  z-index: 3

.color-accent
  color: v(color-accent)

.logo 
  margin: 0
  padding: 10px 20px
  position: absolute
  z-index: 2
  img 
    width: 31px

.goal-bar 
  margin-top: 0
  position: relative
  &__progress 
    background-color: v(color-primary)
    height: 50px
    font-size: 14px
    position: relative

  &__progress-item
    position: absolute
    top: 100%
    margin: 0
    left: 100%
    white-space: nowrap
    line-height: 1

    &:nth-child(2)
      display: none

  &__goal 
    position: absolute
    top: 10px
    right: 10px
    text-align: right
    font-weight: bold
    font-size: 14px
    small
      font-size: 12px
  &__goal-item 
    margin: 0
    line-height: 1
    &:nth-child(2)
      display: none



.patients
  background-color: v(color-accent)
  color: v(color-primary)
  &__header 



.btn 
  background-color: transparent
  border: none
  font-size: 1em
  padding: .8em 2em
  margin: 1em auto
  font-family: v(font-text)
  border-radius: 10px
  display: block
  +appearance(none)
  &--action 
    background-color: v(color-primary)
    color: v(color-emphasis)
    font-weight: bold
    font-size: 1.25rem
  &--hero 
    position: absolute
    bottom: -2.5em
    left: 50%
    white-space: nowrap
    transform: translateX(-50%)


@import 'hero'
